{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "2",
        "useBuiltIns": "usage",
        "targets": {
          "chrome": "58",
          "firefox": "45"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "namespace": "mmtk",
        "ssr": false
      }
    ],
    "polished",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-object-rest-spread"
  ]
}