.loading {
  display: flex;
  flex-flow: row;
  place-content: stretch center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  gap: 0px;
}

.loading-spinner {
  --size: 40px;
  opacity: 1;
  position: relative;
  animation: 1.5s linear 0s infinite normal none running fEWCgj;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(218, 225, 234) rgb(218, 225, 234) rgb(50, 170, 240);
  border-image: initial;
  border-radius: 50%;
  content: "";
  transform-origin: center center;
  height: var(--size);
  width: var(--size);
  will-change: transform;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group-badge {
  background-color: #EBECF0;
  border-radius: 2em;
  color: #172B4D;
  display: inline-block;
  font-size: 12;
  font-weight: normal;
  line-height: 1;
  min-width: 1;
  padding: 0.1666666666667em 0.5em;
  text-align: center;
}

.setting {
  display: flex;
  align-items: center;
}

.setting-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  min-width: 400px;
}

.toggle-row {
  display: flex;
  flex-direction: row;
}